@font-face {
  font-family: "ProtestRiot";
  src: url("../fonts/Protest_Riot/ProtestRiot-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: black;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  max-width: 1000px;
  margin: 150px auto;
  border-radius: 5px;
  background-color: rgba(100, 100, 100, 0.85);
  backdrop-filter: blur(10px);
  color: whitesmoke;
}

.header {
  padding: 1% 20px 1% 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-family: "ProtestRiot", sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
}
.header__logo:hover {
  color: black;
}
.header__menu {
  text-transform: uppercase;
  text-align: right;
}
.header .menu {
  position: relative;
  cursor: pointer;
  overflow: visible;
}
.header .menu__trigger {
  display: block;
  font-size: 1.1rem;
}
.header .menu__list {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  list-style-type: none;
  position: absolute;
  overflow: hidden;
  top: 100%;
  right: 0;
  border: 1px solid rgba(245, 245, 245, 0.4);
  border-radius: 5px;
}
.header .menu__item:not(:last-child) {
  border-bottom: 1px solid rgba(245, 245, 245, 0.4);
}
.header .menu__link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  background-color: rgba(245, 245, 245, 0.8);
}
.header .menu__link:hover {
  color: black;
  background-color: whitesmoke;
}
.header .menu:hover > .menu__list {
  opacity: 1;
  visibility: visible;
}

main {
  padding: 70px 70px 50px;
}
main .article__headline {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
main .article__image {
  display: block;
  width: 80%;
  margin-inline: auto;
  padding: 30px;
}
main .article__paragraph {
  margin: 15px 5%;
}
main .article__paragraph--attention {
  font-weight: bold;
}
main .article__gallery-link {
  cursor: pointer;
  text-decoration: underline;
}
main .article__order {
  display: block;
  cursor: pointer;
  margin: 50px auto 15px;
  padding: 15px 70px;
  color: black;
  font-size: 1.2rem;
  text-transform: uppercase;
}
main .article__return {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
}
main .article__return-link {
  padding: 2px 5px 0;
  text-decoration: none;
  color: white;
}
main .article__return-link:hover {
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.3);
}
main .article__return-image {
  vertical-align: middle;
}

.footer {
  padding: 15px 1%;
  display: flex;
  justify-content: center;
}
.footer__text {
  color: lightgray;
}
.footer__feedback {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}
.footer__feedback:hover {
  color: revert;
}

.gallery__back {
  display: inline-block;
  margin: 10px 10% 10px 0;
  padding: 2px 1% 0;
  text-decoration: none;
}
.gallery__back:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.gallery__image {
  width: 100%;
}
.gallery__image:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 720px) {
  .wrapper {
    margin: 0;
  }
  .main {
    padding: 15px 5%;
  }
  .main .article__image {
    width: 100%;
    padding: 15px 5%;
  }
  .main .article__order {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
