// Logo
@font-face {
    font-family: 'ProtestRiot';
    src: url('../fonts/Protest_Riot/ProtestRiot-Regular.ttf') format('truetype');
}

// main font
@font-face {
    font-family: 'Platypi';
    src: url('../fonts/Platypi/Platypi-VariableFont_wght.ttf') format('truetype');
}

:root {
    font-size: 16px;
}
